@import "styles/sass/base/variables";

.navigation {
  position: fixed;
  width: 100%;
  z-index: 5;

  &__top-bar {
    height: 64px;
    background: $color-black;

    @include breakpoint(md) {
      border-bottom: 1px solid $color-gold;
    }
  }

  &__top-bar-mobile {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &__title {
    font-family: $font-dancing;
    color: $color-white;
    font-size: 36px;
  }

  &__nav {
    position: absolute;
    background: $color-black;
    color: $color-white;
    width: 300px;
    min-height: calc(100vh - 64px);
    transform: translateX(-150%);
    padding-left: 16px;

    @include breakpoint(md) {
      transform: translateX(0);
      min-height: 64px;
      max-height: 64px;
      width: 100%;
      padding: 0;
    }

    ul {
      @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 64px;
      }

      li {
        padding: 8px 0;
        margin: 16px 0;
        cursor: pointer;

        @include breakpoint(md) {
          padding: 0;
          margin: 0;
        }
      }
    }

    &--open {
      transform: translateX(0);
      transition: 300ms;
    }
  }

  &__active {
    border-bottom: 3px solid $color-gold;
  }
}
