@import "breakpoints";

.hidden-down-md {
  display: none !important;
  @include breakpoint(md) {
    display: flex !important;
  }
}

.hidden-up-md {
  @include breakpoint(md) {
    display: none !important;
  }
}

.background-brown {
  background: $color-brown !important;
}

.color-gold {
  color: $color-gold !important;
}

.border-horizontal-gold {
  border-top: 1px solid $color-gold;
  border-bottom: 1px solid $color-gold;
}

.border-bottom-gray {
  border-bottom: 1px solid $color-gray;
}

.icon-input {
  display: flex;
  position: absolute;
  left: 10px;
  top: 24px;
  transform: translateY(-50%);
  z-index: 1;
}

.map-height {
  max-height: 600px;
}

.swiper-button-next, .swiper-button-prev {
  top: 65%;

  &::after {
    color: $color-gold;
  }
}

.lazyload-wrapper {
  height: 100% !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}


.react-datepicker-popper {
  z-index: 5 !important;
}

.react-datepicker__triangle {
  left: 72px !important;
}

.react-datepicker__header {
  background-color: #000 !important;
}

.react-datepicker__current-month {
  color: #fff !important;
}

.react-datepicker-time__header {
  color: #fff !important;
}

.react-datepicker__triangle {
  border-bottom-color: #000 !important;
}
