@import "breakpoints";

.hidden-down-md {
  display: none !important;
  @include breakpoint(md) {
    display: flex !important;
  }
}

.hidden-up-md {
  @include breakpoint(md) {
    display: none !important;
  }
}

.background-brown {
  background: $color-brown !important;
}

.color-gold {
  color: $color-gold !important;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  z-index: 10;
  top: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid $color-gold;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background: $color-gold;
    border-color: $color-white;
  }

  &:hover::after {
    color: $color-brown;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-gold;
    font-weight: 900;
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    content: ">";
  }
}

.swiper-button-prev {
  left: 0;

  &::after {
    content: "<";
  }
}

.swiper-button-disabled {
  opacity: 0;
  transition: 300ms;
}
