body {
  font-family: $font-montserrat;
}

button {
  &:focus {
    outline: none;
  }
}

input, textarea {
  border: 1px solid $color-gray;
  resize:none;

  &:focus {
    outline-color: $color-gold;
  }
}
