//COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #828282;
$color-gold: #CCA776;
$color-brown: #322A28;

//FONTS
$font-dancing: 'Dancing Script', cursive;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

//BREAKPOINTS
$xxs: 384px;
$xs: 512px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

//OTHERS
$max-width-container: 1300px;
